/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body, h2{
    text-transform: uppercase;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-family: Raleway;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/* Style the main content */
main {
    padding: 20px;
}

.featured-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f7f7f7;
}

.game-card img {
    width: 100%;
    border-radius: 5px;
}

.game-card h2 {
    margin-top: 10px;
}

.game-card p {
    margin-top: 5px;
}
.new h1{
    text-align: center;
    text-transform: uppercase;
    
}

/* Add some animations */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Apply animation to game cards */
.game-card {
    animation: fadeIn 1s ease;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.center{
     width: 40px;
}
.well{
    font-size: 100;
    font-family: Georgia, serif;
    font-style: italic;
}
.logonew{
    display: block;
}

.newfile{
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
}

.card-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.btn-login {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0056b3;
}
.logo2{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
.cont {

    text-align: center;
    font-size: 60%;
    font-family: serif;
}
